
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}   

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contaier-slider{
    width: 800px;
    height: 250px;
    margin: 10px auto;
    position: relative;
}


.contaier-slider img{
    opacity: 0;
    width: 800px;
    height: 250px;
    position: absolute;
}


.contaier-slider img.active {
    opacity: 1;

}
.slider-number{
    position: absolute;
    z-index: 11111111111;
    top: 10px;
    left: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0,.9);
}

.slider-controller{
    margin: 10px auto;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pagination-ul{
list-style: none;
text-align: center;
display: flex;
}

#pagination-ul li {
    padding: 3px 5px;
    margin-right: 10px;
    background-color: #DDD;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: all .5s;
}
#pagination-ul li:hover , .porv:hover  ,.next:hover{
    background-color: rgba(0, 150, 100);
}

.porv , .next{
    background-color: rgba(0, 150, 136);
    padding: 3px 29px;
    border-radius: 2px;
    cursor: pointer; 
    transition: .5s;
    user-select: none;

}

#pagination-ul li.active {
    background-color:  rgba(0, 150, 136);

}

.slider-controller .porv.disabled,
 .slider-controller .next.disabled{
   background-color:  rgb(0 150 136 / 50%);
   cursor: no-drop;
}